@import url('../css/global.css');

.header {
    background-color: var(--color-fafafa);
    padding-top: 64px;
    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo svg {
    fill: var(--color-33323d);
}


.nav {
    display: flex;
    align-items: center;
    background-color: var(--color-fafafa);
}

.nav__item:not(:last-child) {
    margin-right: 43px;
}

.nav__item .nav-item__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-33323d);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.nav__item--active .nav-item__link,
.nav__item .nav-item__link:hover {
    color: var(--color-5fb4a2);
}

.header__btn {
    display: none;
    cursor: pointer;
    width: 24px;
    height: 14px;
    border: 0;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    overflow: hidden;
}

.header__btn .first-line,
.header__btn .second-line,
.header__btn .third-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--color-33323d);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}



.header__btn .first-line--active {
    transform: translate(1px, 7px) rotate(-45deg);
    -webkit-transform: translate(1px, 7px) rotate(-45deg);
    -moz-transform: translate(1px, 7px) rotate(-45deg);
    -ms-transform: translate(1px, 7px) rotate(-45deg);
    -o-transform: translate(1px, 7px) rotate(-45deg);
}

.header__btn .second-line--active {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
}

.header__btn .third-line--active {
    transform: translate(2px, -6px) rotate(45deg);
    -webkit-transform: translate(2px, -6px) rotate(45deg);
    -moz-transform: translate(2px, -6px) rotate(45deg);
    -ms-transform: translate(2px, -6px) rotate(45deg);
    -o-transform: translate(2px, -6px) rotate(45deg);
}

/* ==========================*/
/* Media=====================*/
@media screen and (max-width: 1400px){
}

@media screen and (max-width: 1200px){
}

@media screen and (max-width: 992px){

    .container {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .header {
        padding-top: 64px;
        background-color: var(--color-fafafa);
    }
}

@media screen and (max-width: 767px){
    .container {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .header {
        width: 100%;
        padding-top: 32px;
        padding-bottom: 32px;
        z-index: 100;
        position: fixed;
    }

    .logo {
        position: relative;
        z-index: 100;
    }

    .nav {
        transform: translateY(-200%);
        width: 100%;
        position: absolute;
        top: 64px;
        left: 0;
        flex-direction: column;
        padding-bottom: 50px;
        padding-top: 50px;
        text-align: center;
        -webkit-box-shadow: 0px 28px 24px -29px rgba(34, 60, 80, 0.33);
        -moz-box-shadow: 0px 28px 24px -29px rgba(34, 60, 80, 0.33);
        box-shadow: 0px 28px 24px -29px rgba(34, 60, 80, 0.33);
        -webkit-transform: translateY(-200%);
        -moz-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
        -o-transform: translateY(-200%);
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
    }

    .nav--active {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }

    .nav__item:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    .header__btn {
        display: flex;
    }
}

@media screen and (max-width: 576px){

}

@media screen and (max-width: 576px){
}
/* Media=====================*/
